.para_1{

background-image: url(image/parchemin2.jpg);

}
.para_2{
    background-image: url(image/parchemin2.jpg);
}
.ss2{
      
    color: blue ; 
    
    background-color: #e3a400; 
}
.pp_1,.pp_2{

    background-color: yellow;
}

